[core]
    excludesfile = ~/.gitignore-global
[user]
    name = Stuart Campbell
    email = stuart@harto.org
[color]
    ui = auto
[alias]
    ab = !git-active-branches
    b = branch
    ci = commit -v
    co = checkout
    d = diff
    ff = merge --ff-only
    graph = log --pretty=graphable --graph --date=short
    instamend = commit --amend --no-edit
    preview = diff --cached
    remote-head = !bash -c 'sed -n \"s@ref: refs/remotes/@@p\" .git/refs/remotes/$1/HEAD' -
    snooze = !git-snooze
    st = status
    summary = !git log --oneline $(git remote-head origin)..
    unsnooze = !git-unsnooze
    unwip = reset HEAD^
    wip = !git add -A && git commit -nm wip
[merge]
    defaultToUpstream = true
[pretty]
    graphable = %C(yellow)%h%C(red)%d %C(reset)%s %C(green)%an %C(bold black)%cr
[push]
    # only push current branch
    default = upstream
[remote "origin"]
    prune = true
[grep]
    extendedRegexp = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[rerere]
    enabled = true
