[core]
    excludesfile = ~/.gitignore-global
[user]
    name = Stuart Campbell
    email = stuart@harto.org
[color]
    ui = auto
[alias]
    b = branch
    bl = !git branch --sort=-committerdate | grep -wv master
    ci = commit -v
    co = checkout
    d = diff
    ff = merge --ff-only
    graph = log --pretty=graphable --graph --date=short
    instamend = commit --amend --no-edit
    preview = diff --cached
    remote-head = !bash -c 'sed -n \"s@ref: refs/remotes/@@p\" .git/refs/remotes/$1/HEAD' -
    st = status
    summary = !git log --oneline $(git remote-head origin)..
    unwip = reset HEAD^
    wip = commit -nm wip
[merge]
    defaultToUpstream = true
    # include original context when resolving merge conflicts
    conflictstyle = diff3
[pretty]
    graphable = %C(yellow)%h%C(red)%d %C(reset)%s %C(green)%an %C(bold black)%cr
[push]
    default = simple
[remote "origin"]
    prune = true
[grep]
    extendedRegexp = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[rerere]
    enabled = true
[github]
	user = harto
