[user]
    name = Stuart Campbell
    email = stuart@harto.org
[color]
    ui = auto
[alias]
    b = branch
    ci = commit -v
    co = checkout
    ff = merge --ff-only
    st = status
    graph = log --pretty=graphable --graph --date=short
    remote-head = !sh -c 'sed -n \"s@ref: refs/remotes/@@p\" .git/refs/remotes/$1/HEAD' -
    summary = !git log --oneline $(git remote-head origin)..
    preview = diff --cached
    instamend = commit --all --amend --no-edit
[merge]
    defaultToUpstream = true
[pretty]
    graphable = %C(yellow)%h%C(red)%d %C(reset)%s %C(green)%an %C(bold black)%cr
[push]
    # only push current branch
    default = upstream
[core]
    excludesfile = /Users/stuart/.gitignore-global
[remote "origin"]
    prune = true
[grep]
    extendedRegexp = true
