[user]
	name = Stuart Campbell
	email = stuart@harto.org
[color]
	ui = auto
[alias]
    ci = commit -v
    co = checkout
    st = status
    graph = log --pretty=graphable --graph --date=short
    # XXX: should compare against branch point
    summary = log --oneline origin/master..
    preview = diff --cached
    # XXX: need to specify branch
    #unpush = push -f origin HEAD^:master
[pretty]
    graphable = %C(yellow)%h%C(red)%d %C(reset)%s %C(green)%an %C(bold black)%cr
[push]
    # only push current branch
    default = upstream
